.container{
height:900px;
width:600px;
background-color: rgba(48,62,71,255);
margin-top: 20px;
margin-bottom: 20px;
}
.rounded-circle{
    border: 3px solid white;
    height: 50px;
    width: 50px;
    margin-left: 140px;    
    margin-top: 40px;
    background-color: rgba(2,177,225,255);
}
.heading1{
    text-align: center;
    margin-top: -60px;
    font-weight: 900;
    color: rgba(255,88,90,255);
}
.heading2{
    text-align: center;
    margin-top: -15px;
    margin-left: 25px;
    font-weight: 700;
    color: white;
}
.childimages{
    display: flex;
    margin-left:75px;
    margin-top: 30px;
    height: 30px;
    width: 30px;
}
.card-title{
    text-align: center;
    font-size:xx-large ;
    font-weight: 900;
    margin-top: 20px;
    color: white;
}
.card-text{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.middletext{
    text-align: center;
    margin-top: -15px;
    font-weight: 700;
    color: white;
}
.lasttext{
    text-align: center;
    margin-top: -15px;
    color: white;
}
.card1{
    background-color: rgba(255,158,27,255);
    border-radius: none !important;
    width: 15rem;
}
.topcontent{
    display: flex;
}
.card2{
    background-color: rgba(1,177,226,255);
    border-radius: none !important;
    width: 15rem;
}
.first-container{
    display: flex;
    justify-content: center;
}
.card-title1{
    text-align: center;
    font-size:xx-large ;
    font-weight:900;
    margin-top: -35px;
    color: white;
}
.milk-image{
    margin-left: 60px;
    margin-top: -30px;
    padding-top: 40px;
}
.card3{
    width:30rem;
    background-color: rgba(255,89,89,255);
    align-items: center;
    margin-left: 50px;
    padding-bottom: 10px;
}
.redtext{
    color: white;
    font-weight: 900;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.smoking{
    width:30px;
    height: 30px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;     
}
.pic{
    width:30px;
    height: 30px;
    margin-right: 20px;
}
.test{
    color: white;
    margin-right: 20px;
    font-size:x-small;
}
.rectanglebox{
    display: flex;
}
.redbox{
    color: white;
    margin-left: 20px;
}
.card4{
    width:30rem;
    background-color: rgba(0,178,226,255);
    align-items: center;
    margin-left: 50px;
    padding-bottom: 10px;
}
.final{
    color: white;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 20px;
}
.finaltop{
    display: flex;
}
.finalimage{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
}
.textfirst{
    display: flex;
    justify-content: space-between;
}
.textsecond{
    display: flex;
    justify-content: space-between;
}
.first1{
    color:white;
    flex-wrap: wrap;
    margin-left: 20px;
    font-size: smaller;
    margin-right: 20px;
}
.second2{
    color:white;
    flex-wrap: wrap;
    margin-right: 20px;
    font-size: smaller;
    margin-left: 20px;
}
.third3{
    color:white;
    flex-wrap: wrap;
    margin-left: 20px;
    font-size: smaller;
    margin-right: 20px;
}
.fourth4{
    color:white;
    flex-wrap: wrap;
    margin-right: 20px;
    font-size: smaller;
    margin-left: 20px;
}